/* Header */


*{
    box-sizing: border-box;
}

.container{
    overflow: hidden;
    position: relative;
    height: 65vh;
    width: 100vw;
    margin-top: 1rem;
}

.banner{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.slide{
    width: 100vw;
    text-align: center;
}

.slide img{
    width: 100%;
}

.arrow{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 38px;
    opacity: 0.8;
    color: white;
}

.arrow:hover{
    transform: scale(2);
    transition-duration: 0.5s;
}

.left-arrow{
    left: 5%;
    z-index: 1;
}

.right-arrow{
    right: 5%;
    z-index: 1;
}