main {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    min-height: 100vh;
    font-family: Lato;
}

.divBotoesLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-weight: 700;
}

.divBotoesLogin a {
    text-decoration: none;
    color: #6d6a6a;
}


.divBotoesLogin a:hover {
    color: #333;
}


.divider {
    padding: 10px;
}


.formLogin {
    padding: 30px 5px;
    border-radius: 10px;
    max-width: 70vw;   
}


.formLogin h1 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 8%;
    text-transform: uppercase;
    color: #284C31;
}

.formLogin p {
    text-align: center;
    margin-bottom: 12%;
    font-weight: 500;
    color: #6d6a6a;
}


fieldset{
    border: none;
}


.containerNomes {
display: flex;
justify-content: space-between;

}


.containerSenhas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;  
    
}


.containerCheck {
    display: flex;
    width: 100%;
    padding: 0px 10px;   
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin-bottom: 12%;
    
}

.containerUnicoInput input {
    width: calc(100% - 20px);
    

}

.containeDuploInput input {
    width: calc(100% - 20px);
    
}

.container input {
    margin: 10px 10px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #ededed;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px ;
    letter-spacing: 0.1ch;
}

.containerSenhas  input {
    position: relative;
    width: calc(100% - 20px);
    
}

.containerSenhas i {
    font-size: 25px;
    position: absolute;
    margin-top: 3vh;
    margin-left: -4vw;
    cursor: pointer;
}

#hide1 {
    visibility: hidden;
}


.container label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #6d6a6a;
    line-height: 30px;
    padding: 10px; 
    display: block;
}


#check input:checked ~ label,
#check input:valid ~ label{
    color: #000000;
}


::placeholder {
    opacity: 50%;
}

#check input {
    display: none;
  
}

#check input + label:before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
     
}

#check input:hover + label:before{
    background-color: #e0dfdf;
}


#check input:checked + label:before{
    background-color: #284C31;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 23px;
    color: white; 
    background-position: center;
    text-align: center;
   
}    


#check label {
    width: 25px;
    height: 25px;
    margin: auto ;
    vertical-align: middle;
    font-weight: 700;
    color: #6d6a6a;
    cursor: pointer;
    
}


.botaoCriarConta {
    
    width: calc(50% - 10px);
    height: 70px;
    background-color: #284C31;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0,3s linear;
 
}


.formLogin input:hover {
    background-color: #e0dfdf;
    
    
}


.botaoCriarConta:hover {
    opacity: 0.85;

}

#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
 
}

form a {
    text-decoration: none;
    font-size: 16px;
    color: #6d6a6a;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 15%;
    
}

form a:hover {
    color: black;

}


@media (max-width: 768px) {


    .formLogin{
        
        flex-direction: column;
    }

    .containerNomes{
        flex-direction: column;
    }

    .containerCheck{
        flex-direction: column;    
    }

    .containerSenhas {
        flex-direction: column;
    }
    
    #check {
        min-width: 100%;
    }

    .botaoCriarConta {
        min-width: 100%;
        margin-top: 8%;
    }

    .containerSenhas i {
        margin-left: -7vw;
        
    }
    
}


