
.tituloPrincipalInstitucional{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: min(35px,5vw);
    margin-top: 10vh;
    margin-bottom: 6vh;
    font-weight: 900;
    color: #067006;
    
}

.subtitulosInstitucional{
    color: #067006;
    font-size: min(25px,4vw);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}  

.textoInstitucional{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Lato', sans-serif;
    max-width: 80vw;
    line-height: 35px;
    text-align: justify;
    margin-right: 10vw;
    margin-left: 10vw;
    font-size: min(20px,3vw);
 
}


.divInferiorTrocas{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: min(20px,3vw);
 margin-bottom: 3vh;
 margin-top: 6vh;
 padding: 1vw;
 
}

.PaibotoesInstitucional{
 display: flex;
 flex-direction: row;
 justify-content: center;
 
 margin-bottom: 8vh;
 text-align: center;
}

.divbotoesInstitucional{  
 font-size: min(22px,4vw);
 padding: 2vw;
 
}

.divbotoesInstitucional a {
    text-decoration: none;
    color: black;
}

.botaoTrocas:hover{
 cursor: pointer;
 text-decoration: underline;
}

.hrInstitucional {
    border: 1px solid #020202;
    width: 80vw;
    border-radius: 2px;
    margin-top: 3vh;
   }
   
   .spanInstitucional {
       font-weight: 900;
   }
   
